extends ../layout

block content
    a(href='/bicicletas/create') Crear

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col') Actualizar
                th(scope='col') Eliminar
        tbody
            each bici in bicis
                tr
                    td(scope='row')= bici.id
                    td(scope='col')= bici.color
                    td(scope='col')= bici.modelo
                    td(scope='col')= bici.ubicacion
                    td
                        a(href='bicicletas/update/'+bici.id) Editar
                    td
                        form.inLine(method='post' action='bicicletas/delete/'+bici.id)
                            input(type='hidden' name='id' value= bici.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                = 'Eliminar'